p {
    color: red;
}

.button {
    color: white;
    width: 4px;
    height: auto;
    display: inline-block;
}

.button2 {
    color: white;
    width: 4px;
    height: auto;
    display: inline-block;
    margin-left: 70px;
}
